<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Group RSS</title>
    <link rel="stylesheet" href="/static/style/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/style/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div>
      <div class="top-header">
        <h1>Group RSS</h1>
      </div>
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}
