{% extends "templates/base.html" %}
{% block content %}
  <div class="group-header row">
    <h2 class="col-md-12">{{group.name}} <span class="group-description">{{group.description}}</span></h2>
  </div>

  <div class="row">
    <div class="sidebar col-md-3">
      <div class="feed-info panel panel-default">
        <div class="panel-body">
          <ul class="list-group feed-list">
            {% for group_feed in group.group_feeds %}
            <li class="list-group-item">
              <a href="/feeds/{{group_feed.feed.key()}}">{{group_feed.feed.displayable_name()}}</a> <br>
              <span class="label {{group_feed.feed.get_status_badge_class()}}">{{group_feed.feed.get_status_level()}}</span>
              <span style="color: #CCC">Last success: {{group_feed.feed.last_successful_check}}</span>
            </li>
            {% endfor %}
          </ul>
          <div class="add-feed form-inline">
            <form action="/groups/{{group_key_name}}/add_feed" method="post">
              <input class="comment-content form-control" type="text" name="url">
              <input class="comment-submit btn btn-default" type="submit" value="Add Feed">
            </form>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          Tip: Press 'j/k' to navigate to next/previous post. Press 'o' to open the full post in a new window.
        </div>
      </div>
    </div>

    <div class="posts col-md-8 panel-group" id="post-accordion">
      {% for group_post in group_posts %}
        <div class="post panel panel-default {{'unread' if not group_post.user_metadata(user).read}}">
          <div class="panel-heading"
              data-toggle="collapse" data-parent="#post-accordion" href="#{{group_post.key()}}">
            <div class="feed-name">
              {{group_post.post.feed.name}}
            </div>
            <div class="post-info">
              <span class="badge comment-count {{group_post.comment_status_class(user)}}">{{group_post.comments.count()}}</span>
            </div>
            <div class="post-title">
              {{group_post.post.title}}
            </div>
          </div>
          <div class="post-panel panel-body panel-collapse collapse" id="{{group_post.key()}}">
            <div class="post-extra-info">
              <h3><a class="post-link" target="_blank" href="{{group_post.post.url}}">{{group_post.post.title}}</a></h3>
              <span><a href="{{group_post.post.feed.url}}">{{group_post.post.feed.name}}</a></span>
              <span class="date">{{group_post.post.timestamp}}</span>
              <span class="date">{{group_post.last_modified}}</span>
            </div>
            <div class="post-content">
              {{group_post.post.summary|safe}}
            </div>

            <div class="post-comments">
              Loading.
            </div>
            <div class="comment-form">
              <textarea class="comment-content form-control"></textarea>
              <button class="comment-submit btn btn-default" value="Post Comment">Post</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}