{% for group_post in group_posts %}
  <div class="post panel panel-default {{'unread' if not group_post.user_metadata(user).read}}">
    <div class="panel-heading"
        data-toggle="collapse" data-parent="#post-accordion" href="#{{group_post.key()}}">
      <div class="feed-name">
        {{group_post.post.feed.name}}
      </div>
      <div class="post-info">
        <span class="badge comment-count {{group_post.comment_status_class(user)}}">{{group_post.comments.count()}}</span>
      </div>
      <div class="post-title">
        {{group_post.post.title}}
      </div>
    </div>
    <div class="post-panel panel-body panel-collapse collapse" id="{{group_post.key()}}">
      <div class="post-extra-info">
        <h3><a class="post-link" target="_blank" href="{{group_post.post.url}}">{{group_post.post.title}}</a></h3>
        <span><a href="{{group_post.post.feed.url}}">{{group_post.post.feed.name}}</a></span>
        <span class="date">{{group_post.post.timestamp}}</span>
        <span class="date">{{group_post.last_modified}}</span>
      </div>
      <div class="post-content">
        {{group_post.post.summary|safe}}
      </div>

      <div class="post-comments">
        Loading.
      </div>
      <div class="comment-form">
        <textarea class="comment-content form-control"></textarea>
        <button class="comment-submit btn btn-default" value="Post Comment">Post</button>
      </div>
    </div>
  </div>
{% endfor %}