body {
  font-family: "helvetica neue", helvetica, sans-serif;
  margin: 0 ;
}

h1 {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 10px;
}

.top-header {
  background-color: #BFE7FF;
}

.group-header h2 {
  font-size: 20px;
  background-color: #DCF0FC;
  margin: 0;
  padding: 10px;
}

.group-header h2 .group-description {
  font-size: 15px;
  color: #666;
  font-weight: normal;
}

.group-header {
  margin-bottom: 10px;
}

.debug {
  font-size: 10px;
  font-color: #CCC;
}

/* Sidebar */

/* Posts */

.post .panel-body {
  padding: 0;
}

.post .post-content, .post blockquote {
  font-size: 15px;
}

.post .post-content {
  padding: 20px;
  font-family: georgia, serif;
  font-size: 16px;
  line-height: 30px;
}

.panel-heading > div {
  display: inline-block;
}

.panel-heading {
  background-color: #FFFFFF !important;
}

.unread .panel-heading {
  background-color: #EFEFEF !important;
  font-weight: bold;
}

.comment-count.unread-comments {
  background-color: #00D4FF !important;
}

.comment-count.read-comments {
  background-color: #FFF !important;
  border: 1px solid #CCC;
  color: #999 !important;
}

.comment-count.no-comments {
  display: none;
}

.selected-post {
  border: #999 1px solid;
}

a.post-header-link {
  text-decoration: none;
  color: #000;
}

.panel-heading .feed-name {
  width: 15%;
  color: #999;
}

.panel-heading .post-title {
  width: 75%;
  font-size: 16px;
}

.panel-heading .post-info {
  width: 5%;
}

.post-extra-info {
  background-color: #FFF;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 20px;
  margin: 0;
}

.post-extra-info h3 {
  font-size: 20px;
  margin-top: 3px;
}

.post-extra-info span {
  margin-right: 20px;
}

.post-loading-indicator {
  text-align: center;
  height: 200px;
}

/* Comments */

.post-comments {
  margin: 20px;
}

.post-comments .panel {
  margin-bottom: 10px;
  border: 1px solid #;
}

.post-comments .panel-body {
  margin: 10px;
  font-size: 15px;
}

.post-comments .panel-footer {
  font-size: 13px;
  padding: 3px 5px;
}

.comment-form {
  margin: 20px;
}