body {
  font-family: helvetica;
  margin: 0 ;
}

h1 {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 10px;
}

.top-header {
  background-color: #BFE7FF;
}

.group-header h2 {
  font-size: 20px;
  background-color: #DCF0FC;
  margin: 0;
  padding: 10px;
}

.group-header h2 .group-description {
  font-size: 15px;
  color: #666;
  font-weight: normal;
}

.group-header {
  margin-bottom: 10px;
}

/* Sidebar */

/* Posts */

.panel-heading > div {
  display: inline-block;
}

a.post-header-link {
  text-decoration: none;
}

.panel-heading .feed-name {
  width: 15%;
}

.panel-heading .post-title {
  width: 75%;
}

.panel-heading .post-info {
  width: 5%;
}

/* Comments */
