body {
  font-family: helvetica;
  margin: 0 ;
}

h1 {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 10px;
}

.top-header {
  background-color: #BFE7FF;
}

.main-content {
  
}

h2 {
  font-size: 20px;
  background-color: #DCF0FC;
  margin: 0;
  padding: 10px;
}

h2 .group-description {
  font-size: 15px;
  color: #666;
  margin-left: 10px;
  font-weight: normal;
}

/* Posts */

.post {
  background-color: #F2F2F2;
  padding: 4px;
  border-top: solid 1px #999;
}

.post-header {
  border-bottom: solid 1px #CCC;
  padding: 3px;
}

.post-header div {
  display: inline-block;
}

.post-header a {
  text-decoration: none;
}

.post-header .article-link a {
  font-size: 16px;
  font-weight: bold;
}

.post-header .feed-link, .post-date {
  font-size: 12px;
}

.feed-link {
  width: 100px;
  margin-left: 10px;
}

.feed-link a {
  color: #333;
}

.post-date {
  color: #999;
  float: right;
}

.post-info {
  float: right;
}

.post-content {
  font-size: 14px;
  background-color: #FFF;
  padding: 10px;
}

/* Comments */

.post-comments {
  margin-left: 20px;
}

.comment {
  font-size: 12px;
  color: #333;
  line-height: 10px;
  margin-bottom: 20px;
}

.comment-attribution {
  font-size: 11px;
  color: #666;
}

.comment-date {
  color: #999;
  margin-left: 10px;
}